/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*reset size of all elements using this universal selector*/
* {
  margin: 0;
  padding: 0;
  /*this property helps us include padding and border in the width and height of the element*/
  box-sizing: border-box;
}

/*set the project font inheritance*/
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  /*We make this elemenet in relative position to position the insides element mith absolute positioning*/
  position: relative;

  /*vh stands for viewport Height, the value is a percentage of the total height of the viewport*/
  height: 95vh;
  background-image:
  /*we have 2 background images, first the gradient the the image*/ linear-gradient(
      to right bottom,
      rgba(128, 214, 113, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  /*so that the top of the image is not cropped*/
  background-position: top;
  /*
  to create a clipping section on the element 
  src: https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path 
  clippy tools : https://bennettfeely.com/clippy/
  */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0 100%);
}

/*logo styling*/
.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

/*heading primary*/

.text-box {
  position: absolute;
  /*these coordinates are relative to the parent*/
  top: 40%;
  left: 50%;
  /*these coordinates are relative to the element itself, not its parent*/
  transform: translate(-50%, -50%);

  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;

  /*this property decides if the backpart of the element during animation is visible to the user src:https://developer.mozilla.org/en-US/docs/Web/CSS/backface-visibility*/
  backface-visibility: hidden;

  margin-bottom: 60px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1s;

  animation-timing-function: ease-out;
  /*
  animation-delay: 3s;
  animation-iteration-count: 3;
  */
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/*button styling*/

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: #fff;
  color: #777;
}
