/*reset size of all elements using this universal selector*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /*this property helps us include padding and border in the width and height of the element*/
  /*box-sizing: border-box;*/
  /*We now inherit box-sizing from the body element*/
  box-sizing: inherit;
}

html {
  /*The rem unit multiply the root font-size so ten pixels is a simple value to keep track on the font through our css file*/
  /*font-size: 10px;*/
  /*It's a good practive to put the font size in percentrage beacause we still use the root font size of the browser (16px) and we let the ability to the user to manipulate this default value*/
  /*We want 10px for our font size so 10/16=0.625*/
  font-size: 62.5%;
}

/*set the project font inheritance*/
body {
  /*this property helps us include padding and border in the width and height of the element*/
  /*It's better to put it on the body so that we can inherit it for our entire layout*/
  box-sizing: border-box;
}